In [1]:
%load_ext autoreload
%autoreload 2

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from dataset_prepare import ToStrLower, DropDuplicates, FilterByQuantile
from autocompleter import AutoCompleter

In [2]:
popular_queries = pd.read_csv("data/query_popularity.csv")
popular_queries['query'] = popular_queries['query'].astype(str)

In [4]:
columns = ['wbuser_id', 'UQ', 'cnt', 'locale', 'weekday', 'time']
search_history = pd.read_csv("data/search_subset.csv")[columns]

# Filter data

In [5]:
CNT_UPPER_QUANTILE = 0.9

In [6]:
# to lower UQ
to_str_lower_filter = ToStrLower(column="UQ")
df = to_str_lower_filter.apply(search_history)

In [7]:
# filter out duplicates by wbuser_id 
subset_drop = ["wbuser_id", "UQ"]
drop_duplicates_filter = DropDuplicates(subset_drop)
df = drop_duplicates_filter.apply(df)

DropDuplicates: dataset size 499999 -> 450085

In [8]:
UPPER_QUANTILE = 0.95
LOWER_QUANTILE = 0
quantile_filter = FilterByQuantile('cnt', UPPER_QUANTILE)
df = quantile_filter.apply(df)

Lower quantile: 0. Upper quantile: 33128.79999999999
FilterByQuantile: dataset size 450085 -> 427580

In [35]:
df.groupby("UQ")['cnt'].median()['игровой ноутбук']

7.0

In [9]:
for_notebook_result = popular_queries[popular_queries['query'].str.contains("ноутбук")]

In [10]:
for_igrov_result = popular_queries[popular_queries['query'].str.contains("игров")]

In [11]:
popular_queries[popular_queries['query'].str.contains("ноутбук") & popular_queries['query'].str.contains("игров")]

               query  query_popularity
268  ноутбук игровой                10
652  игровой ноутбук                10

In [15]:
popular_queries[popular_queries['query'].str.contains("ноутбук")]

                                          query  query_popularity
0                                       ноутбук                10
268                             ноутбук игровой                10
392                                  ноутбук hp                10
652                             игровой ноутбук                10
980                                ноутбук asus                10
...                                         ...               ...
331357                      наушники к ноутбуку                 1
332653           шторка веб-камеры для ноутбука                 1
333133     буквы наклейки на клавиотуру ноутбук                 1
333489  Столик для ноутбука, планшет из бамбука                 1
336929            шторка для вэбкамеры ноутбука                 1

[292 rows x 2 columns]

In [ ]:
autocompleter = AutoCompleteraBaseline(query_database=popular_queries, max_n=10)

In [49]:
popular_queries[popular_queries['query'].str.startswith("игра")]

                            query  query_popularity
20443        игра престолов книга                10
26521                   игралочка                10
27471              игра почемучка                10
32672       игра шакал настольная                10
33932                   игра мемо                 9
...                           ...               ...
318983              игра бродилки                 1
325302           игра головоломка                 1
326869  игра развивающая 2-3 года                 1
334632            игральный кубик                 1
335259       игральные карты 54шт                 1

[221 rows x 2 columns]

In [51]:
# by suffix
result = autocompleter.predict("игра")
result

                              query  query_popularity
20443          игра престолов книга                10
26521                     игралочка                10
27471                игра почемучка                10
32672         игра шакал настольная                10
33932                     игра мемо                 9
37300  игра настольная омский завод                 9
45671                игра монополия                 9
46148                          игра                 9
55347                игра викторина                 9
56269                    игра зайца                 9

In [44]:
# by full text
result = autocompleter.predict("крем для")
result

Found for word: крем 3537 instances
Found for word: для 78173 instances

                             query  query_popularity
538                  крем для лица                10
1771                  крем для рук                10
3166  крем для лица антивозрастной                10
3595                  крем для век                10
3735          крем спрей для волос                10
4528     крем для кожи вокруг глаз                10
4949                 крем для тела                10
5440       тональный крем для лица                10
5824                  крем для ног                10
6490     крем для лица увлажняющий                10